<nav id="mainNavbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">COLOSSI</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" (click)="toggleCollapsed()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarSupportedContent" [ngClass]="{'collapse': collapse, 'navbar-collapse': true}">
    <ul class="navbar-nav mr-auto">

    </ul>
    <div id="announcement">

    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="container">
  <hr>
  <p class="text-muted">
    <small>
      <i class="fa fa-copyright" aria-hidden="true"> 2019 DATA-NAUTS</i>
    </small>
  </p>
</div>
